<h1>Consultar</h1>
<legend>Faturas e Recibos Verdes</legend>
<div>
  <div>
    <div class="row">
      <div class="tabs align-left">
        <input type="radio" name="tableTabs" id="tabWithTablePrestador" class="tabWithTable1" checked="checked">
        <label for="tabWithTablePrestador" class="tab-with-table-label">
          <span>Bens ou Serviços Prestados</span>
        </label>
        <input type="radio" name="tableTabs" id="tabWithTableAdquirente" class="tabWithTable2">
        <div class="tabs-in-table-container">

        </div>
      </div>
    </div>
    <div class="row margin-top-lg">
      <div class="col-md-12">
        <div class="panel panel-filter">
          <div class="panel-body">

            <div class="col-md-4 col-xs-6 form-group form-group-sm input-daterange">
              <label data-toggle="tooltip" title="" data-original-title="Indique o período em que se encontra a data de emissão do documento."> Data de emissão
                <i class="fa fa-question-circle color-black margin-left-sm"></i>
              </label>
              <div class="row">
                <div class="col-sm-6">
                  <div class="date input-group input-group-sm">
                    <label class="input-group-addon input-group-label" for="dataEmissaoInicio">De</label>
                    <input type="text" class="form-control" name="dataEmissaoInicio" id="dataEmissaoInicio" datepicker-popup="yyyy-MM-dd" cs-date-to-iso="" is-open="dataInicioDatePickerOpened">
                    <label class="input-group-addon" for="dataEmissaoInicio"><i class="fa fa-calendar"></i></label>
                  </div>
                  <label class="help-block"></label>
                </div>
                <div class="col-sm-6">
                  <div class="date input-group input-group-sm">
                    <label class="input-group-addon input-group-label" for="dataEmissaoFim">a</label>
                    <input type="text" class="form-control" name="dataEmissaoFim" id="dataEmissaoFim" datepicker-popup="yyyy-MM-dd" cs-date-to-iso="" is-open="dataFimDatePickerOpened">
                    <label class="input-group-addon" for="dataEmissaoFim">
                      <i class="fa fa-calendar"></i>
                    </label>
                  </div>
                  <label class="help-block"></label>
                </div>
              </div>
            </div>
            <div class="form-group form-group-sm col-md-2 col-xs-12">

              <div class="form-group form-group-sm">
                <label title="" class="">Nº Documento</label>
                <input name="numRegisto" type="text" class="form-control  ng-valid-maxlength" ui-number-mask="0" ui-hide-group-sep="" maxlength="9">
                <div class="opcional-label ">

                </div>
                <span class="help-block"></span>
              </div>

            </div>
            <div class="col-md-3 col-xs-10 pull-right margin-bottom">
              <button type="button" class="btn btn-link btn-xs down filter-switch" data-toggle="collapse" href="#filter-panel-a" aria-expanded="false" data-text-swap="-Opções">+opções
              </button>
              <button type="button" class="btn btn-sm btn-primary margin-top-sm-alt" > Pesquisar </button>
            </div>
            <div class="col-md-12 col-xs-12 collapse" id="filter-panel-a" aria-expanded="false">
              <div class="form-group form-group-sm col-md-2 col-xs-12">

                <div class="form-group form-group-sm">
                  <label title="" class=""> Situação</label>
                  <select name="cSituaca" class="form-control ">

                    <option label="Emitido" value="emitido">Emitido</option>
                    <option label="Anulado" value="anulado">Anulado</option>
                    <option label="Sem Preenchimento" value="sempreenchimento">Sem Preenchimento</option>
                  </select>
                  <div class="opcional-label"></div>
                  <span class="help-block"></span>
                </div>

              </div>
              <div class="col-md-4 col-xs-6 form-group form-group-sm input-daterange">
                <label data-toggle="tooltip" title="" data-original-title="Indique o periodo em que se encontra a data de transissão de bens ou prestação de serviços."> Data de prestação de serviço
                  <i class="fa fa-question-circle color-black margin-left-sm"></i>
                </label>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="date input-group input-group-sm"> <label class="input-group-addon input-group-label" for="dataPresInicio">De</label>
                      <input name="dataPresInicio" type="text" class="form-control " id="dataPresInicio" datepicker-popup="yyyy-MM-dd" cs-date-to-iso="" is-open="dataInicioDatePickerOpened">
                      <label class="input-group-addon" for="dataPresInicio"><i class="fa fa-calendar"></i>
                      </label>
                    </div>
                    <label class="help-block"></label>
                  </div>
                  <div class="col-sm-6">
                    <div class="date input-group input-group-sm">
                      <label class="input-group-addon input-group-label" for="dataPresFim">a</label>
                      <input name="dataPresFim" type="text" class="form-control " id="dataPresFim" datepicker-popup="yyyy-MM-dd" cs-date-to-iso="" is-open="dataFimDatePickerOpened">
                      <label class="input-group-addon" for="end"><i class="fa fa-calendar"></i></label>
                    </div> <label class="help-block"></label>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm col-md-4 col-xs-12">

                  <div class="form-group form-group-sm">
                    <label title="" class=""> Tipo</label>
                    <select name="tipoRecibo" class="form-control ">

                      <option label="Fatura-Recibo" value="string:R">Fatura-Recibo</option>
                      <option label="Fatura-Recibo Ato Isolado" value="string:A">Fatura-Recibo Ato Isolado</option>
                      <option label="Fatura" value="string:FTR">Fatura</option>
                      <option label="Fatura Ato Isolado" value="string:FTA">Fatura Ato Isolado</option>
                      <option label="Recibo" value="string:RPR">Recibo</option>
                      <option label="Recibo Ato Isolado" value="string:RPA">Recibo Ato Isolado</option>
                    </select>

                    <div class="opcional-label "></div>
                    <span class="help-block"></span>
                  </div>

              </div>
            </div>

            <div class="col-md-12 col-xs-12">
              <hr>
              <div class="col-md-5 col-xs-6">
                <pf-table-size-picker label="Elementos por página" class="ng-isolate-scope">
                  <div class="dropdown inline"> <button class="btn btn-default btn-xs dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> 10 <span class="caret"></span> </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <!-- ng-click="$ctrl.changeSize(20)-->
                      <li role="presentation"> <a role="menuitem" tabindex="-1" >10</a> </li>
                      <li role="presentation"> <a role="menuitem" tabindex="-1" >20</a> </li>
                      <li role="presentation"> <a role="menuitem" tabindex="-1" >30</a> </li>
                      <li role="presentation"> <a role="menuitem" tabindex="-1" >50</a> </li>
                    </ul> <label class="">Elementos por página</label>
                  </div>
                </pf-table-size-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>

          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped-blue">
                <thead>
                  <tr>
                    <th st-sort="numDocumento">Referência<i class="fa fa-fw fa-sort color-at-gray-light"></i></th>
                    <th st-sort="situacao" class="hidden-sm hidden-xs text-right">Situação
                      <i class="fa fa-fw fa-sort color-at-gray-light"></i>
                    </th>
                    <th st-sort="dataEmissao" class="hidden-sm hidden-xs text-right">Data de Emissão
                      <i class="fa fa-fw fa-sort color-at-gray-light"></i>
                    </th>
                    <th st-sort="importanciaRecebida" class="hidden-sm hidden-xs text-right">Importância Recebida
                      <i class="fa fa-fw fa-sort color-at-gray-light"></i>
                    </th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody class="tbody-border-primary">
                  <!-- <pre>{{faturas}}</pre>-->

                  <tr ng-repeat="fatura in faturas">
                    <td>
                      <p class="reference no-margin ">Fatura-Recibo Nº {{fatura.nFatura}}</p>
                      <p class="no-margin">{{fatura.nomeAdquirente | uppercase}}</p>
                    </td>
                    <td class="hidden-sm hidden-xs">
                      <span class="label hidden-sm hidden-xs label-success-border"> Emitido </span>
                    </td>
                    <td class="hidden-sm hidden-xs" style="text-align:center;">{{fatura.dataPrestacao | date : 'yyyy-MM-dd' }}</td>
                    <td class="align-right hidden-sm">{{fatura.totalFatura | number:2}}€</td>
                    <td>
                      <div class="btn-group text-right">

                        <input type="hidden" value="{{fatura.nFatura}}" ng-model="nFaturaDetalhe">

                        <a href="#!/recibos/detalhesfatura/{{fatura.nFatura}}" class="btn btn-default btn-sm"> Ver</a>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li>
                            <a href="/recibos/portal/imprimir/224221159/0/5/economico">Imprimir Económico</a>
                          </li>
                          <li>
                            <a href="/recibos/portal/imprimir/224221159/0/5/normal">Imprimir</a>
                          </li>
                        </ul>

                      </div>
                    </td>
                  </tr>

                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="8" style="padding-left:0;padding-top:20px">
                      <div class="row">
                        <div class="col-md-3 col-xs-3 outcome">
                          <label>N.º de Resultados</label>
                          <p class="value ">1</p>
                        </div>
                        <div class="col-md-3 col-xs-3">
                          <button  class="btn btn-link btn-xs" role="button">Exportar Tabela</button>
                        </div>
                        <div class="col-md-6 col-xs-6 align-right">
                          <st-pagination st-items-by-page="$ctrl.filterParameters.tableSize" st-displayed-pages="3" class="ng-isolate-scope">
                            <ul class="pagination pagination-sm">
                              <li class="prev">
                                <a ="selectPage(currentPage-1)">
                                  <i class="fa fa-chevron-left"></i>
                                </a>
                              </li>
                              <!--ngRepeat-->
                              <li ng-class="" class="active">
                                <!--ng-click="selectPage(currentPage)-->
                                <a class="">1</a>
                              </li>
                              <li class="next">
                                <!--ng-click="selectPage(currentPage+1)-->
                                <a href="">
                                  <i class="fa fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </st-pagination>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="panel panel-context">
      <div class="panel-body">
        <div class="col-md-12 col-xs-12">

          <div class="col-md-3 col-xs-6">
            <dl align="right"> <dt>Total Valor Base</dt>
              <dd class="value ">50,00&nbsp;€</dd>
            </dl>
          </div>
          <div class="col-md-3 col-xs-6">
            <dl align="right"> <dt>Total IVA</dt>
              <dd class="value ">0,00&nbsp;€</dd>
            </dl>
          </div>
          <div class="col-md-3 col-xs-6">
            <dl align="right"> <dt>Total IRS</dt>
              <dd class="value ">0,00&nbsp;€</dd>
            </dl>
          </div>
          <div class="col-md-3 col-xs-6">
            <dl align="right"> <dt>Total Imposto Selo</dt>
              <dd class="value ">0,00&nbsp;€</dd>
            </dl>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
