<form name="emitirFatura" ng-submit="emitirssFatura()" novalidate>

<div class="code-fixed-header">
  <div class="fixed-header-wrap" style="height: 110px;">
    <div class="fixed-header affix-top" style="width: 805px;">
      <div class="vcenter">
        <div class="col-xs-7">
          <h1>Emitir Faturas</h1>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-5 text-right btn-group-inline"> <a href="/" class="btn btn-default btn-sm dropdown-toggle">Cancelar</a>

          <button type="submit" class="btn btn-primary btn-sm" ng-disabled="emitirFatura.$invalid">Emitir</button>

        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <legend><small>Emita aqui uma Fatura ou Fatura-Recibo</small></legend>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top-lg">
    <div class="col-md-12 margin-top-sm">



      <!--  Emissão   -->
      <div>
        <div class="panel panel-primary-alt">
          <div class="panel-heading">
            <div class="panel-title ">Emissão</div>
          </div>
          <div class="panel-footer font-size-sm color-at-gray-dark" style="border-bottom:1px solid #ddd">
            <p>Se não tiver atividade aberta na data de prestação de serviço especificada, a Fatura ou Fatura-Recibo a emitir será do tipo Ato Isolado.</p>
          </div>
          <div class="panel-body">
            <div class="alert alert-warning" role="alert" ng-show="emitirFatura.dataPrestacao.$touched && emitirFatura.dataPrestacao.$valid"">Se alterar a Data de prestação ou o Tipo, irá perder a informação inserida do formulário.
              <button type="button" class="close" data-dismiss="alert" data-toggle="tooltip" title="" data-original-title="Fechar Alerta">
                <span aria-hidden="true">×</span>
              </button> </div>
            <div class="row">
              <div class="col-md-4 col-xs-12">

                <div class="form-group form-group-sm">

                  <label for="datepicker" class="ng-binding">Data de prestação de serviço</label>
                  <div class="input-group input-group-sm date">

                    <input type="date"
                    class="form-control date-input text-right"
                    name="dataPrestacao"
                    id="datepicker"
                    ng-model="fatura.dataPrestacao"
                    required>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>

                <div class="text-danger"
                      ng-show="emitirFatura.dataPrestacao.$touched && emitirFatura.dataPrestacao.$invalid">Campo
                                    obrigatório.</div>

              </div>
              <div class="col-md-4 col-xs-12">
                <div class="form-group form-group-sm">

                  <label title=""> Tipo</label>
                  <select name="tipoRecibo" class="form-control">

                    <option label="Fatura" value="fatura" ng-model="fatura.tipo" selected>Fatura</option>

                  </select>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--  Transmitente de Bens ou do Prestador de Serviços  -->
      <div ng-show="emitirFatura.dataPrestacao.$touched && emitirFatura.dataPrestacao.$valid" class="panel panel-primary-alt" os-form="$ctrl.commonStateService.formStatus" os-form-validation="" os-form-focus="">
        <div class="panel-heading">
          <div class="panel-title">Transmitente de Bens ou do Prestador de Serviços</div>
        </div>
        <div class="panel-body">
          <div class="row">

            <div class="col-sm-4 form-group form-group-sm">
              <label class="control-label">NIF</label>
              <p class="form-control-static" ng-model="fatura.nifPrestador">{{$root.authenticatedUser.nif}}</p>
            </div>

            <div class="col-sm-8">
              <label class="control-label">Nome</label>
              <p class="form-control-static" ng-model="fatura.nomePrestador">{{$root.authenticatedUser.nome | uppercase}}</p>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="ontrol-label">Domicílio fiscal/Estabelecimento estável</label>
              <p class="form-control-static" ng-model="fatura.moradaPrestador">{{$root.authenticatedUser.morada | uppercase}}</p>
            </div>
            <div class="col-md-12">


            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12" ng-show="!$ctrl.isAtividadeBloqueada()">

              <div class="form-group form-group-sm">

                <label> Atividade exercida</label>
                  <select name="atividadePrestador" class="form-control">
                    <option label="OUTROS PRESTADORES DE SERVICOS" value="Outros Prestador de Serviços" ng-model="fatura.atividadePrestador" selected="selected">{{$root.authenticatedUser.atividade | uppercase}}
                  </option>
                </select>

              </div>

            </div>


          </div>
        </div>
      </div>




      <!--  Adquirente de Bens ou de Serviços  -->
      <div ng-show="emitirFatura.dataPrestacao.$touched && emitirFatura.dataPrestacao.$valid" class="panel panel-primary-alt" os-form="$ctrl.commonStateService.formStatus" os-form-validation="" os-form-focus="" pfview-init="">
        <div class="panel-heading">
          <div class="panel-title">Adquirente de Bens ou de Serviços</div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <lf-dropdown name="pais" lf-label="País" lf-model="$ctrl.formParameters.pais" lf-options="$ctrl.paises" lf-change="$ctrl.pfChangePais(model)" lf-empty-option="true" class="ng-isolate-scope">
                <div class="form-group form-group-sm">
                  <label title="" class="ng-binding"> País
                  </label>
                  <select name="pais" class="form-control" ng-model="fatura.paisAdquirente">
                    <option label="PORTUGAL  " value="portugal" selected>PORTUGAL </option>
                  </select>
                  <div class="opcional-label ng-binding"></div> <span class="help-block"></span>
                </div>
              </lf-dropdown>
            </div>

            <div ng-show="!$ctrl.isEstrangeiro()" class="col-md-4 col-xs-12">

              <div class="form-group form-group-sm">
                <label> NIF</label>
                <input name="nifAdquirente" type="number" class="form-control" ng-model="fatura.nifAdquirente">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-xs-12">

              <div class="form-group form-group-sm">
                <label>Nome</label>
                <input name="nomeAdquirente" type="text" class="form-control" maxlength="160" ng-model="fatura.nomeAdquirente">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="ng-isolate-scope">
                <div class="form-group form-group-sm">
                  <label> Morada</label>
                  <input name="moradaAdquirente" type="text" class="form-control" maxlength="100" ng-model="fatura.moradaAdquirente">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>





      <!--  Transmissão de Bens ou da Prestação de Serviços  -->
      <div ng-show="emitirFatura.dataPrestacao.$touched && emitirFatura.dataPrestacao.$valid" class="panel panel-primary-alt">
        <div class="panel-heading">
          <div class="panel-title">Transmissão de Bens ou da Prestação de Serviços</div>
        </div>
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12 form-group form-group-sm"> <label>Descrição </label>
              <textarea name="servicoPrestado" type="text" maxlength="585" class="form-control" rows="3" ng-model="fatura.descricao"></textarea>
              <span class="help-block"></span>
            </div>
          </div>



          <div class="row">
            <div class="form-group form-group-sm form-horizontal">
              <label class="col-sm-9 control-label">Valor Base</label>
              <div class="col-sm-3">
                <div class="input-group input-group-sm">

                  <input name="valorBase"
                  type="number"
                  class="form-control text-right"
                  maxlength="17"
                  ng-model="fatura.valorBase"
                ">

                  <span class="input-group-addon"><span class="fa fa-eur"></span></span>
                </div>
              </div>
              <span class="help-block"></span>
            </div>
          </div>

          <div>
            <div class="row" style="display:flex">
              <div class="col-sm-6 col-xs-12">

                <div class="form-group form-group-sm">
                  <label title="" class="ng-binding"> Regime de IVA</label>
                  <select name="regimeIva" class="form-control" ng-model="fatura.regimeIva">
                    <option label="Continente - 23% [taxa normal atual]" value="0.23" selected>Continente - 23% [taxa normal atual]</option>
                    <option label="Isento - art.º 13.º" value="0">Isento - art.º 13.º</option>
                  </select>

                </div>

              </div>

              <div class="col-sm-6 col-xs-12" style="margin:auto">

                <div class="form-group form-group-sm form-horizontal">
                  <label class="col-sm-6 col-xs-12 control-label">Valor de IVA</label>
                  <div class="col-sm-6" col-xs-12="">
                    <p class="form-control-static pull-right" ng-model="fatura.valorIVA">{{(fatura.valorBase|number:2) * (fatura.regimeIva|number:2)}}€</p>
                  </div>

                </div>

              </div>
            </div>
          </div>



          <div class="row">
            <div class="form-group form-group-sm form-horizontal">
              <label class="col-sm-9 control-label">Total da Fatura</label>
              <div class="col-sm-3">
                <div class="form-control-static">
                  <p class="pull-right" ng-model="fatura.totalFatura">{{((fatura.valorBase|number:2) * (fatura.regimeIva|number:2))+fatura.valorBase|number:2}}€</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>



<script>
  $(function() {
    $("#datepicker").datepicker();
  });
</script>
